doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    
    title Hero Marvel App
    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(href="vendor/components-font-awesome/css/font-awesome.min.css" rel="stylesheet")
    link(href="css/app.css" rel="stylesheet")
  body
    include lib/header/template.jade
    ul#gridHome
      //- .mobile-screen
      //-   img(src="img/phone.png" class="bg-phone")
      //-   .screen
      //-     .header
      //-       img(src="img/header-icons.png")
      //-     include lib/screen.jade
      //-     .android-controls
      //-       img(src="img/android-controls.png")
    script(src="vendor/jquery/dist/jquery.min.js")
    script(src="js/app.js")
