#gridHome {
  list-style: none;
  padding: 86px 0 16px;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  li {
    flex: 1 100%;
    margin: 0 0 32px;
    line-height: 0;
    position: relative;
    overflow: hidden;
    text-align: center;
    @media screen and (min-width: $col-2) {
      flex: 1 50%;
    }
    @media screen and (min-width: $col-3) {
      flex: 1 33.33%;
    }
    @media screen and (min-width: $col-4) {
      flex: 1 25%;
    }
    @media screen and (min-width: $col-5) {
      flex: 1 20%;
    }

    .card {
      overflow: hidden;
      max-width: 300px;
      position: relative;
      margin: 0 auto;
      cursor: pointer;
      max-height: 300px;

      img {
        width: 100%;
      }

      h3 {
        margin: 0;
        position: absolute;
        bottom: 16px;
        line-height: 16px;
        font-size: 16px;
        right: 16px;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 0 10px #000;
      }
    }
  }

  .empty-search {
    margin-top: 50px;
  }
}
