header
  nav
    .brand
      .logo
        a(href="http://marvel.com/comics")
          img(src="img/logo.jpg", alt="Marvel")
      .sub-logo
        img(src="img/api.png", alt="API")
    form
      input(type="text", placeholder="Search")
      button(type="Submit")
        i(class="fa fa-search" aria-hidden="true")
