header
  nav
    .brand
      .logo
        a(href="http://marvel.com/comics") Marvel
      .sub-logo Api
    form
      input(type="text", placeholder="Search")
      button(type="Submit")
        i(class="fa fa-search" aria-hidden="true")
